.formContainer {
  margin: auto;
}
.formBox {
  /* w-[90%] md:h-[90vh] flex m-auto font-poppins tracking-wider font-sans max-w-[1200px]  */
  width: 90%;
  display: flex;
  margin: auto;
  letter-spacing: 0.05em;
  font-family: sans-serif;
  max-width: 1200px;
}

.formGrid {
  /* hidden md:flex justify-between rounded-l-md tracking-wider bg-primary text-white  */
  display: none;
  justify-content: space-between;
  border-top-left-radius: 0.375rem; /* 6px */
  border-bottom-left-radius: 0.375rem; /* 6px */
  letter-spacing: 0.05em;
  background-color: rgb(143 36 189);
  color: white;
}
.dotSpanContainer {
  display: flex;
}
.dotSpan {
  /* m-1 w-3 h-3 bg-red-500 rounded-full */
  margin: 0.25rem;
  width: 0.75rem; /* 12px */
  height: 0.75rem; /* 12px */
  border-radius: 9999px;
}
.red {
  background-color: rgb(239 68 68);
}
.amber {
  background-color: rgb(251 191 36);
}
.green {
  background-color: rgb(22 163 74);
}

.FormDesignContainer {
  /* my-auto p-12 */
  margin-top: auto;
  margin-bottom: auto;
  padding: 3rem;
}

.FormDesignImgBox {
  /* 'm-auto border-2 border-inherit rounded-full inline-block bg-white mb-10' */
  margin: auto;
  border-width: 2px;
  border-color: inherit;
  border-radius: 9999px;
  display: inline-block;
  background-color: rgb(255 255 255);
  margin-top: 2.5rem;
}
.FormDesignImgBox img {
  width: 7rem;
  height: 7rem;
}
.FormDesignContentBox {
  margin: auto;
}
.FormDesignContentBox h1 {
  /* text-3xl font-bold mb-5  */
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  font-weight: 700;
  margin-bottom: 1.25rem;
}

.FormDesignContentBox h3 {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
}

.FormDesignLinkContainer {
  /* mt-[0] mr-[4rem] mb-[4rem] ml-[4rem] p-4 */
  margin-top: 0;
  margin-right: 4rem;
  margin-bottom: 4rem;
  margin-left: 4rem;
  padding: 1rem;
}
.FormDesignLinkIcon {
  color: white;
}
.FormDesignLinkIcon span {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.FormRightContainer {
  /* md:flex justify-between rounded-r-md tracking-wider bg-white */
  justify-content: space-between;
  border-top-right-radius: 0.375rem; /* 6px */
  border-bottom-right-radius: 0.375rem; /* 6px */
  letter-spacing: 0.05em;
  background: white;
}
.LoginMainContainer {
  /* w-100 sm:mx-0 md:m-auto pr-[1rem] md:mx-[4rem] */
  /* width: 100%; */
  padding-right: 1rem;
}
.LoginContainerTitle {
  /* text-3xl mb-5  text-left font-medium */
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  margin-bottom: 1.25rem; /* 20px */
  text-align: left;
  font-weight: 500;
}
.LoginForm {
  /* mt-12 */
  margin-top: 2.75rem; /* 44px */
}
.LoginFormSpace {
  /* my-5 */
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}
.LoginBtn,
.SignUpBtn {
  /* grid  md:flex md:flex-row-reverse my-5 md:justify-between */
  display: grid;
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}
.forgetPasswordBtn {
  /* my-5 md:my-auto */
  margin-top: 1.25rem; /* 20px */
  margin-bottom: 1.25rem; /* 20px */
}
.forgetPasswordBtnLink {
  /* text-center md:text-left */
  text-align: center;
}
.toggleForm {
  /* bg-primary bg-opacity-10 border-primary border-opacity-30 border-2 rounded-md mt-[0] md:mx-[4rem] mr-[1rem] mb-[1rem] md:mb-[4rem] p-4 cursor-pointer text-primary text-sm md:text-base */
  background-color: rgb(143 36 189 / 0.1);
  border-color: rgb(143 36 189 / 0.3);
  border-width: 2px;
  border-radius: 0.375rem;
  margin-top: 0;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: pointer;
  color: rgb(143 36 189 / 1);
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.toggleForm span {
  font-weight: 700;
}
.RegistrationContainerMain {
  /* w-100 sm:mx-0 mb-5 md:m-auto pr-[1rem] md:mx-[4rem] */
  padding-right: 1rem;
}
.RegistrationTitleContainer {
  /* flex justify-between flex-row */
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.RegistrationTitleContainer p {
  /* my-auto text-3xl   text-left font-medium  */
  margin-top: auto;
  margin-bottom: auto;
  font-size: 1.875rem; /* 30px */
  line-height: 2.25rem; /* 36px */
  text-align: left;
  font-weight: 500;
}
.ProfileAvatar {
  /* m-auto flex w-fit text-center */
  margin: auto;
  display: flex;
  width: fit-content;
  text-align: center;
}

/* sm */
@media (min-width: 640px) {
  .LoginMainContainer {
    margin-left: 0;
    margin-right: 0;
  }
  .RegistrationContainerMain {
    /* w-100 sm:mx-0 mb-5 md:m-auto pr-[1rem] md:mx-[4rem] */
    margin-left: 0;
    margin-right: 0;
  }
}

/* md */
@media (min-width: 768px) {
  .formGrid {
    /* hidden md:flex justify-between rounded-l-md tracking-wider bg-primary text-white  */
    display: flex;
  }
  .FormRightContainer {
    display: flex;
  }
  .LoginMainContainer {
    margin: auto 4rem;
  }
  .LoginBtn,
  .SignUpBtn {
    /* grid  md:flex md:flex-row-reverse my-5 md:justify-between */
    display: flex;
    margin-top: 1.25rem; /* 20px */
    margin-bottom: 1.25rem; /* 20px */
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .forgetPasswordBtn {
    /* my-5 md:my-auto */
    margin-top: auto;
    margin-bottom: auto;
  }
  .forgetPasswordBtnLink {
    /* text-center md:text-left */
    text-align: left;
  }
  .toggleForm {
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .formBox {
    /* w-[90%] md:h-[90vh] flex m-auto font-poppins tracking-wider font-sans max-w-[1200px]  */
    height: 90vh;
  }
  .RegistrationContainerMain {
    /* w-100 sm:mx-0 mb-5 md:m-auto pr-[1rem] md:mx-[4rem] */
    margin: auto;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

/* lg */
@media (min-width: 1024px) {
}

/* xl */
@media (min-width: 1280px) {
}

/* 2xl */
@media (min-width: 1536px) {
}
